[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
shapely = "*"
"psycopg2" = "*"
pandas = "*"
fiona = "*"
geopandas = "*"
pyproj = "*"
requests = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
